<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${log.file}</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{60} %X{sourceThread} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <file>${log.file}</file>
        <append>false</append>
        <encoder>
            <pattern>%red(%date{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %red([%thread]) %boldMagenta(%logger{50}) %cyan(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.flink.runtime.jobgraph.JobGraph" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="console" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>